@use "../../../styles/mixins";

.root {
  overflow-y: scroll;
  height: calc(100% - var(--column-header-height));
  font-family: var(--font-family-body);
  background-color: var(--color-background);
}

.menuSection,
.selfProfile {
  padding: 1rem;

  @include mixins.adapt-padding-to-scrollbar(1rem);
}

.selfProfile {
  padding-bottom: 0;
  :global(.ProfileInfo) {
    margin: -1rem 0 0.75rem -1rem;
    margin-inline-end: calc(min(var(--scrollbar-width) - 1rem, 0px));
  }
}

.balanceStar {
  font-size: 1.25em;
  color: var(--color-stars);
}

.balanceGem.balanceGem {
  font-size: 1em;
}

.menuSection {
  :global(.ListItem-button) {
    padding-block: 0.25rem;
    border-radius: var(--border-radius-default);
  }

  :global(.ListItem + .ListItem) {
    border-top: 0.0625rem solid var(--color-borders);
  }

  :global(.ListItem .title) {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-medium);
    line-height: 1.4;
  }
}

:global(.theme-variant-egoist-dark) .menuSection {
  :global(.ListItem-main-icon) {
    --color-icon-backdrop: var(--color-background-secondary);

    background-image: none;
  }
}
