.Switcher {
  position: relative;

  display: inline-flex;
  align-items: center;

  min-width: 2.125rem;
  min-height: 1.75rem;
  margin: 0;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.inactive {
    pointer-events: none;

    input {
      visibility: hidden;
    }
  }

  body.no-page-transitions &,
  &.no-animation {
    .widget,
    .widget::after {
      transition: none !important;
    }

    .widget:active:after {
      width: 1.125rem;
    }
  }

  input {
    position: absolute;

    overflow: hidden;

    width: 0.0625rem;
    height: 0.0625rem;
    margin: 0;

    opacity: 0;
    clip-path: inset(50%);
  }

  .widget {
    cursor: var(--custom-cursor, pointer);

    position: relative;

    display: inline-block;

    width: 2.125rem;
    height: 0.875rem;
    border-radius: 0.5rem;

    text-indent: -999px;

    background-color: var(--color-gray);

    transition: background-color 140ms ease;
  }

  .widget:after {
    content: "";

    position: absolute;
    top: -0.125rem;
    left: 0;

    width: 1.125rem;
    height: 1.125rem;
    border: 0.125rem solid var(--color-gray);
    border-radius: 0.75rem;

    background-color: var(--color-background);

    transition: background-color 140ms ease, border-color 140ms ease;
  }

  input:checked + .widget {
    background: var(--color-primary);
  }

  input:checked + .widget:after {
    transform: translateX(100%);
    border-color: var(--color-primary);
    background-color: var(--color-primary-text);
  }

  &:has(:focus-visible) .widget {
    outline: 0.125rem solid var(--color-primary);
    outline-offset: 0.1875rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Switcher {
    .widget,
    .widget::after {
      transition: none;
    }
  }
}
